<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK_RSA_PublicKey - 12121594</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2GjHvp1eO1caR9R/VQZKCl4URcfo9GwrFCZvmHDYkIgMp6r7HGfG/Kf3VfV7EXFSD7a3iF5CUbZRlcLAmdoYCLqLPLZU6s1qxv6egGHF+PoHAaQC78bQJp8x+fR1Z1MJe+2q1/Gs0T/kwFXXPF6I6ls6R9iuQYhOwBKQ0IzOYlcCUzPhRn9640jz+h9VdRRKu/iIp2wLOpk26ftZezAPrrPXd2fkJwWkgM6uIkmbsGDJ/Yl0+4zqZwqQyU9XIoc72qIVCclW891bxOhHzgxe+nn/zx9+fIsYHO0km52fUQt/xkwGPkWoBEny5lzeOUKbMIFtwlmk8igkBzTUZYUclQIDAQAB</string>
	<key>SDK_RSA_PublicKey-Merchant</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgn44gV2YaeHjpUv9n4gK94Wg1WWSSCzQkWjCiYmRqoKmE2iZVyksHJArxCQmFSL49Q5o1Rnddpkyvwb27cJgcTgcSDR5cRlINrtoZzS5udN1HzILa2x+4X1A7HNHuyjOj2MiWRoTXRoT+YJ892YTN6PNGVFM2sHze9U0VIQBom/wr1Lyeehj+vB0JdHRFsjoWZ2CB45/PAiKtoLCz44sMSa1bvaAfU+4Os4J4/ks/NCypBqUPg+XL/nYgDVAprJqX75kDn2Emd4HtbXgU+RppetajLShrRJSkCZqEdetxYV2sUf93OtlQB/f/z1l1+F5SnGEGdSPczKjuSf6VkrJaQIDAQAB</string>
	<key>SDK_RSA_PublicKey-3DS Merchant</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjqiAZpQ9hMPuF3oMHSGaVfPvb60ioGrrLTYWYW4AC7QPg8j523hkx6H7IzloWNE59B+NbMZfi0DhqVSwPE/vyJAbH6JsLtkqYzxyGqcByoPr/213J+Jm1la/Jh0pHxygk+xQrajWu2kCnPvPH/e/N1OU/Z0mMt/8mmrYdo5jzSHrupghWTLxz0s97luKgtWvCujMX3k6LXphUN63O3rdtv9jAbiUfeh1LhSsyVitmjA9AfxsSUG7GS5BSEI40JGjq8xElSA2y1wYt2tiEVj0H42FzNGwU0+Qmx+Y8nq+CXWMDqR5jU2swMeF0OiI5041cPLVfUFXtY4+F5hHcVGRAwIDAQAB</string>
	<key>SDK_RSA_PublicKey- Old</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>88145735</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhRAtroMRBj/m4HAWhMiEjme4ISzjtGDNYNKJZFeFgBOXxWWPtqvtJpLPMgBVfP0wCmh4a0KMf/nwyShLSu1x/JEAxU7PhxmZtyrGgsKS0xL/qtQJZXqkKSBRdPXlU/ItkoAm2QdcKwA+6YFBqUB4nqDAzErjMP2SOMXOO67sgT8u39mPRgaveYIB2DN1n9FdiPywiGm9UQj+vFLYfOFLZWbO8R0mCfK9LouVNdZXi11aBhWVpP6frDjQOAQ15lbKQO60MPs6F61LZqmLTZc2oyhWqsfIoYsqRnQXg+w+HHL9WjVF0X2FaEveA279+EE42TzWK1v9tgleiwND3dJ8pQIDAQAB</string>
	<key>88618261</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArvxLT052VCC+QgQzh3SHuwMtD6qW4FG0pC8BLumsqZPZ6vV3cRx3np44sSbA5lllXtbIzodvc9T2sYdLQDpFG3I7IdhxE4XG05xSOQCeht7uz+s8DMlYJJjzJV2hBNEdNtjFkA2JYoxoBzsjIBTj4kTwFSZBVZCfq6HvuOGpKjzqsHkQXlXya5xzIBLjYduc5RBnuyHIeeQiSsuI2leg+RmQsUt84ykmrpTEpoPID0/vBwtHIilpUCGz88vwgN5SHTRTqG5naGjLR59pebYauKPuKRx7GYqGMbaXi8JYN7UdsipW9qCXY1b27Lq9ESVpbIgp85nLY66ISsKcmpheIwIDAQAB</string>
	<key>SDK_RSA_PublicKey-560200353</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArvxLT052VCC+QgQzh3SHuwMtD6qW4FG0pC8BLumsqZPZ6vV3cRx3np44sSbA5lllXtbIzodvc9T2sYdLQDpFG3I7IdhxE4XG05xSOQCeht7uz+s8DMlYJJjzJV2hBNEdNtjFkA2JYoxoBzsjIBTj4kTwFSZBVZCfq6HvuOGpKjzqsHkQXlXya5xzIBLjYduc5RBnuyHIeeQiSsuI2leg+RmQsUt84ykmrpTEpoPID0/vBwtHIilpUCGz88vwgN5SHTRTqG5naGjLR59pebYauKPuKRx7GYqGMbaXi8JYN7UdsipW9qCXY1b27Lq9ESVpbIgp85nLY66ISsKcmpheIwIDAQAB</string>
	<key>SDK_RSA_PublicKey111</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey2</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsviLwLUFKLap6e/iuikx//MpKdEzFEj+HZWhQ0edB4PxdH9icEMrhuiRxPkomxXS5vSpZNdv9LL9HyJ7M/s9l/c1DwEaAzpafS8Uu8DCJhGMqemVCqnCbURdaiNqbpnCWflx71DDvwsMrBHkNE9kRakul2oFn8okxP7BEuF0LaJqPkn4CRCH5bC0yKTBCzqDAcSD+KbovLA5xjYEZfYYdgz/6bl73YsNGdd92SR5KtVY6k0csvyeLRL1DTuelKngiExPWcb8NdRMrKFjEJlf9iE+eBejfAQeKVynuD0q9FqEg5b1gV/lkMDbWCtcWrC2J8PZ65XFAgCC1HMwgSstwQIDAQAB</string>
	<key>18071264</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnvhMdGg7GVQIuWU2GqYPgzbStf65rK7ZhxerEGBQjFI+vWqIuGYNOXKpJGQDiSpLJDhQH3CkqD5s0jirgs+xaX0GRQYchBUw2+ca1OJbJlc0L4gYCZcVKkVAPvbrXq0QCaidcyi+boi+GiHma++N3hBd6SA27AMvM9MVVhFL3jgbPK03QaXmjLgZQgjy1/w+/Gau/QtGkgq67HFttggFW7j/Ty01wv8YzYCJJGDqsUYri6nMxIo1mKOKkDwMJb/qPmTtMQCPZuxWaH08s+PjJFQ7UnzQOBhhPoUCZxIOUxTrLLZJEmqglyfEhSm0ts0Fo7A/hllJfbz5oVokOnGDkwIDAQAB</string>
	<key>SDK_RSA_PublicKey-1</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkMjvpUJBURoSAMVeuIXAnCdmQdXQUJhvQKa/AUqoOo2vmgP5Bj1VueXTuirCg2dVr0C5iZEoJbcovgOmd9aq0UQyXxD9TUMi4hz4AR8JUM7Z+MG5+Hgkz9rCmiQnBhHiuejw693hDif7sioO59Qfx5CtB0JtGizHcY+o5aUd7vPzO4xe9k5SaVME+4otIEapuTLWAg07IUHT4wCWu90Zvnu0JpxbRoSt7mKMxKezQq+jOjeMMQ3USUf0ylU7sJ5v5NTnIch4Be+TfkrDShtH0k2kaNIPvHMBEVTqBc9wCQGwjnDyvEX/zCHAVo9xApASY3vuEFdoRW1qkLL424Sk1wIDAQAB</string>
	<key>SDK_RSA_PublicKey4</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhD+LxrLmhPo1iGh/NtG7b9Yqrzy2LgHFXon15vEpNtXWQXe2/YNh73RCn+0xCNhDRy9UrhObAUp5sRucNt3/zTEOO4SRMhNVcmm4N507kc+5ufU8Y55XzphvnaEjwgDv/x+QvqM22njotXHER50ZOGKIjwW8EnN1unR6hJnc3y1UCSxFICWe/3XvaG7no2Nl+KBjQd+vIwD02bggNyX4iA+38stnqssP3Qk0NfoH3mdTaqxOZACUREAV6jxqz+M0o0RWof93kThHlDyM9N7L6A1vDbwbovREALEzXJm9uf82LLIuT4qw3knHMkyjnTrDLUVyfFcpzuW7PpPCSG0v7QIDAQAB</string>
	<key>SDK_RSA_PublicKey55</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkTYVBsMMncCHt4cnvVMLhBhV48WJuTn+vb+SX4bGgrgJY7QdQBxI/xeIgtl3/Vnf9NyFMyvsfQkaGdzQ9Bjv3VTJ3z0y2lxSeoIabKomN/WoMdIXYR2DSYe7zrGfx/kwWSxo3Sek+kHKN76C3xNrMqFC0BZhq5VzSp5jqlkXj4e5b6cAcg8nvEaNuZ0t+HBEECOSucWBtkkKpphioCxgKCrEYdPn0RolkhPCYeh5H7zbV6+7rBWO5jUMe/n0WXZMdgrcpulG2S92/JRfBF5NmKegm4gWWZJr0ckmOaQmNzCToz+AOPKqWM7Y+D2PAp1A06a2VWxr1eNftGtrsc/50QIDAQAB</string>
	<key>SDK_RSA_PublicKey-88144151</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-88146271NEw</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey- 85114623 prod</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgtEKnI8F51BjII1xLyipS/6o7u3RqmCyCMZbQ8DEBMCTN02R3aK/zANYcycGxPYM9uI61wgDnSVz38heuC5UH7auj4HqOmm2waMmdxltkz3VJmJE9j0cGMTmdMoY1Z3PpSFUWXwNYGvid3MwZBCLc8S78wdcXvEWLeytnMy43x5BzaqvltRIdF7c49abPSDJVcLqj2mIffwbNXk9RCkiBh9jaIqs2BZazdP+Hu7mS7g1uthI2iITtp61XiHy1GnnXYI7U9vldnyHZD+tMFBEIVvtu0/4YfP9AXibYs31QkUGCi39S115YpeGDdKftkc9mn6ZNV/ux1v83HqL3Pw+OwIDAQAB</string>
	<key>SDK_RSA_PublicKey- 18072076</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjqiAZpQ9hMPuF3oMHSGaVfPvb60ioGrrLTYWYW4AC7QPg8j523hkx6H7IzloWNE59B+NbMZfi0DhqVSwPE/vyJAbH6JsLtkqYzxyGqcByoPr/213J+Jm1la/Jh0pHxygk+xQrajWu2kCnPvPH/e/N1OU/Z0mMt/8mmrYdo5jzSHrupghWTLxz0s97luKgtWvCujMX3k6LXphUN63O3rdtv9jAbiUfeh1LhSsyVitmjA9AfxsSUG7GS5BSEI40JGjq8xElSA2y1wYt2tiEVj0H42FzNGwU0+Qmx+Y8nq+CXWMDqR5jU2swMeF0OiI5041cPLVfUFXtY4+F5hHcVGRAwIDAQAB</string>
	<key>SDK_RSA_PublicKey- 88150281</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmJS0khZHC7TPwChaGysTVLfSzzCHGekmrTNEAorzDEW3uKSpV8/uJsbVrg0TIr4rBi9+d1UGS+SpC8X/FMFwsZ337Or/ym9PN2WHNoN8ac09EE5ubYIonjJK7jIKZ/4m5p3rFO+IL10PlVSj6RsHpEhiX7V6oDKN1WCYCs4Gvn/dnFOgaON/H1R7bVHRuzBu9gBdYDnHLKYtuBkBCi5vbKeYh9L0gdkDbqTqt0L6cyWbSSacHRMgxd06N1ZlVBVe1hnT/fnMyVGotekq6VNQ4rC965G67Gm9KMIEEEC54wbx0AOIOGnHpOd1wagQd0HfB8IQY6tqgmdfyrXyNjL+UwIDAQAB</string>
	<key>SDK_RSA_PublicKey-88144151working</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-latest</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-18073938</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1dsZ4eQ6jMAPtPVuCvILHKf3ZT4Vd80zGqIbD6aDi0FiBHnN1l6mL40zWvIzBy00fp6Fjbt32bJbEBgVY0EAXRIATVv8Op/ixO7IGItW3g1hzqHKv+G/FuL3pyUyhNlX886/K/ptWDFGEkeyTovrSUPDxRwW8o5oAzQ00gQNkQm0wdo13H4hIDNjFI80MR47xPIwCRx/eKkhuO8kw2UMNXOCsA/901mLvhY92SjaMlM8gptdULmOwHdbpZh3A2T/5QTUbR0v215LU/mrPYGjDCRhnvyl6JpotnRPhLH+qc6OZazKBfwqxXvsTOc5VsHuAXMxN8eYrwJwR3vcEyupAQIDAQAB</string>
	<key>SDK_RSA_PublicKey-88626496</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAg3F62olBjbUiphuywL5m1tHP5QJNmOoDEeypyzFZRVXcg/wQD1M++ditl21ztw7FlHq7HkJPyb5mL11yXhl+b5lHsMiEfrRWvs+zreGDUAvw6LMjx6q5VO4zofAIYLHkhMXDdvs+tGuH+DHuATc0nAXxV+oBcigrqeX1yp696nHkyqs8g2mQW3g3HSsriV0mk72TNk8EG3qbTcciiwaQ/oqdA8gOgfiQ5BAI76ZTEyo6WDLuC+79e7pPj97QS7xud+fbEb2Ezh6AtN8GXu+OrOWM9E/7iedc7UhEN6SKWLl+0lSfzs6167K0BAnPxbmX5lvlBU9dgUb80QKuigU9pQIDAQAB</string>
	<key>SDK_RSA_PublicKey-old</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAC</string>
	<key>Domain_MCD</key>
	<string>https://xp3.paydollar.com/  https://uat4.paydollar.com/</string>
	<key>Domain</key>
	<string></string>
	<key>SDK_RSA_PublicKey-MCD</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAipiMiAANCeO/YtgerURnDdttm8+vhDtodbbhXvFJ+aSI/QxHGkcu5TsIkjKqScRfvGU5oHEn52r+FfXaUHsKJrq3fJa2XPans2APlZdRgO/oruVuRLdtIxcp9t7yeygmCkHITeKOl6VGfSycJtI23DbNrcYmjHfw3nUGvkVAe616zEAqDwnl33QHycXNWC/omvU7nfaIpWbDgzsZpkSsJQACqWQgDxLQqKra/DM0CQf3rWQ2PcXP8hoR4ML4+6grUAlZLrSQ3gUR7U+216Wc2CsEvILIb7h4kGC8p15qkP0x+72eq31epyTXkqHxtTj7oR9kkNEeyL+qAaPdQYi42QIDAQAB</string>
	<key>SDK_RSA_PublicKey-1036</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-octopus</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-88146271</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey-88154745</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
	<key>SDK_RSA_PublicKey</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgBdpFphOiNncDYVeUU53xWuNA7wEVhNgPWlNf/pkA+t/Cu+0YigLA4q2+V5wkpSAAXM5pWnwL5L65vD/g/DfhsPLo6u3n9yXwvKhwPxgxtMnuoI1qNtZnCpg67gGueoIqSiSart1Uyd/OsAtK6ZeDKNWH9XS+pORphgARDkfA64JrzVI6iPpjQuOLIXlUr66wMj6zgjQYoiG4/2BvwI6/xG+PRUygaDKDtyzYOmV0YxF25PgHmWd/06dSvFx86wcVMIePvgwrS5DnE6rm4gaXqcuocazeMrG+RN/kz2XoRiiIWiXkH9/UjjenzVS8wKCruTRzeEEO+iReOYjmMOYBwIDAQAB</string>
</dict>
</plist>
